<%- include('includes/head'); %>
<%- include('includes/nav'); %>

        <div class="container mb-4 mt-5">
            <div class="row">
                
                <div class="col-lg-2"></div>
                
                <div class="col-lg-8 my-3">
                    <%- include('includes/messages') %> 
                    <h3 class="text-center mt-4 mb-4">Olá <%= user.email %> </h3>
                    <p class="text-center"> Ir para <a href="/">tela principal</a></p>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>

<%- include('includes/footer'); %>